@keyframes rainbow {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 25%
    }

    100% {
        background-position: 0% 50%
    }
}

body {
    background-image: url("/static/tile_dark.gif");
}

main {
    background-color: #000;
    color: #fff;
    border-color: #aaa;
}

header {
    border-color: #aaa;
}

nav,
nav>a {
    border-color: #aaa;
    color: pink;
}

h1,
h2,
h3 {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    background-size: 800% 800%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    animation: rainbow 8s ease infinite;
}

a {
    color: #72e0d1;
}

blockquote {
    color: #aaa;
}

details summary a {
    color: pink;
}

span[class*=keyword],
span[class*=constant] {
    color: #8080bf;
}

span[class*=constant-language-capital-identifier] {
    color: #988888;
}

span[class*=support],
span[class*=ocaml-constant-language-polymorphic-variant] {
    color: #80bfbf;
}

span[class*=storage-type] {
    color: #cc8888;
}

span[class*=constant-character-escape],
span[class*=constant-character-printf],
span[class*=string] {
    color: #ffc080;
}

span[class*=numeric] {
    color: #80c080;
}
