body {
    background-image: url('/static/tile.jpg');
}

main {
    width: 80ch;
    margin: 0 auto;
    background-color: #FFF;
    padding: 1.25rem 1.25rem 0 1.25rem;
    border-style: outset;
}

header {
    border-style: outset;
    vertical-align: middle;
    font-family: Courier, monospace;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

nav {
    border-style: inset;
    flex-grow: 1;
    padding: 2px;
    overflow: hidden;
}

nav>#address {
    vertical-align: sub;
    height: 100%;
}

#query {
    color: #AAA;
}

article {
    margin-bottom: 1rem;
}

form {
    border-style: outset;
    padding: 3rem;
    width: auto;
    text-align: center;
}

form>h1 {
    margin-top: 0;
}

input[type=text] {
    border: 2px dashed #AAA;
    margin: 10px;
    width: 60%;
}

input[type=submit] {
    border: 2px outset black;
}

a {
    word-wrap: break-word;
}

pre {
    overflow-x: auto;
    padding: 2px;
    border: 1px solid #888;
}

figure {
    margin: 0 auto 1.5em;
    display: table;
    text-align: center;
}

figure.preformat {
    display: block;
    text-align: left;
}

figure>pre {
    margin-top: 0;
    text-align: left;
}

figure>figcaption {
    color: #AAA;
    font-style: italic;
    color: #555;
}

blockquote {
    margin-left: 0;
    border-left: 3px solid #CCC;
    padding: 0 10px;
    color: #333;
    font-style: italic;
    word-break: break-word;
}

p>a>img {
    margin-top: 1rem;
}

img,
video {
    max-width: 500px;
    border: 3px solid #888;
    display: block;
    margin: 1em auto;
}

audio {
    border: 3px solid #888;
}

hr {
    border-color: #B2B2B2;
}

footer>details>table {
    padding-left: 1rem;
}

footer td {
    padding: 0.2em;
}

details:not([open]) summary,
details:not([open]) summary a {
    color: #4c4c4c;
}

@media screen and (max-width: 1000px) {
    body {
        margin-top: 5%;
    }

    main {
        width: 85%;
    }

    header {
        flex-direction: column;
    }

    img,
    video {
        max-width: 90%;
    }
}

span[class*=keyword] {
    color: #00007f;
    font-weight: bold;
}

span[class*=constant] {
    color: #00007f;
}

span[class*=keyword-operator] {
    color: initial;
}

span[class*=constant-language-capital-identifier] {
    color: #301010;
}

span[class*=function-binding],
span[class*=variable] {
    color: inherit;
}

span[class*=support],
span[class*=ocaml-constant-language-polymorphic-variant] {
    color: #007f7f;
}

span[class*=storage-type] {
    color: #911;
}

span[class*=comment] {
    font-style: italic;
}

span[class*=literal] {
    color: inherit;
}

span[class*=constant-character-escape],
span[class*=constant-character-printf],
span[class*=string] {
    color: #FF8000;
}

span[class*=numeric] {
    color: #008000;
}

@media (prefers-color-scheme: dark) {
    @keyframes rainbow {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 25%
        }

        100% {
            background-position: 0% 50%
        }
    }

    body {
        background-image: url('/static/tile_dark.gif');
    }

    main {
        background-color: #000;
        color: #fff;
        border-color: #aaa;
    }

    header {
        border-color: #aaa;
    }

    nav,
    nav>a {
        border-color: #aaa;
        color: pink;
    }

    h1,
    h2,
    h3 {
        background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
        background-size: 800% 800%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 24px;
        animation: rainbow 8s ease infinite;
    }

    a {
        color: #72e0d1;
    }

    blockquote {
        color: #aaa;
    }

    details summary a {
        color: pink;
    }

    span[class*=keyword],
    span[class*=constant] {
        color: #8080bf;
    }

    span[class*=constant-language-capital-identifier] {
        color: #988888;
    }

    span[class*=support],
    span[class*=ocaml-constant-language-polymorphic-variant] {
        color: #80bfbf;
    }

    span[class*=storage-type] {
        color: #cc8888;
    }

    span[class*=constant-character-escape],
    span[class*=constant-character-printf],
    span[class*=string] {
        color: #ffc080;
    }

    span[class*=numeric] {
        color: #80c080;
    }
}